
  
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/home/cooker1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Electric cooker | 1500 ₹</h5>
        <p class="card-text">6 months garuntee</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
    </div>
      
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/home/mixi1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mixi| 2500 ₹</h5>
        <p class="card-text">Super quality headset </p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
     </div>
     
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/home/knife1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">kinfe set| 390 ₹</h5>
        <p class="card-text">set of knifes</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
     </div>
      
    </div> 
  </div>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/home/dinnerset.jpg"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> Dinner set | 4500 ₹</h5>
        <p class="card-text">set of bowls</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
      
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/home/watches.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Clock | 800 ₹</h5>
        <p class="card-text">wooden clock/p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
     
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/home/sofa.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Royal sofa | 58000 ₹</h5>
        <p class="card-text">green sofa</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
      
    </div>
  </div>

