
  
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="assets/sports/fball.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">FootBall | 1000 ₹</h5>
        <p class="card-text">football </p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
    </div>
      
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/sports/ring.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Rings | 280 ₹</h5>
        <p class="card-text">pack of 4 rings</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
     </div>
     
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/sports/bat.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cricket Bat | 1600 ₹ </h5>
        <p class="card-text">MRF brand</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
     </div>
      
    </div> 
  </div>
  <div class="card-group">
    <div class="card">
        <img class="card-img-top" src="assets/sports/bat.jfif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Cricket Bat | 800 ₹</h5>
          <p class="card-text">strong bat</p>
          <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
        </div>
        
      </div>
    <div class="card">
      <img class="card-img-top" src="assets/sports/racket.jfif"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tennis racket | 700 ₹</h5>
        <p class="card-text">durable racket</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
      
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/sports/ball.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Basket Ball | 500 ₹</h5>
        <p class="card-text">high quality basket ball</p>
        <a class="btn btn-primary" routerLink="ct">ADD to CART</a>
      </div>
     
    </div>
   
  </div>
