
<div class="row">
  <div class="col-sm-4">
    <div class="card">
     <img class="card-img-top"
     src="./assets/kids.jpg"/>
      <div class="card-body">
        <h5 class="card-title">Kids Wear</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="fas" class="btn btn-primary">Go </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top"
           
            src="./assets/mens.jpg"/>
           
      <div class="card-body">
        <h5 class="card-title">Mens Wear</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="fas" class="btn btn-primary">Go </a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top"
           
            src="./assets/womens.jpg"/>
           

  <div class="card-body">
    <h5 class="card-title">Womens Wear</h5>
    <p class="card-text">With supporting text below a</p>
    <a routerLink="fas" class="btn btn-primary">Go </a>
  </div>
</div>
</div>


