<header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner">

  <div class="container">
    <div class="row align-items-center">
      
      <div class="col-6 col-xl-2">
        <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0">EMART<span class="text-black">...</span> </a></h1>
      </div>
      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="navbar site-navigation position-relative text-right" role="navigation">

          <ul class="navbar-nav site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li><a routerLink="home" class="nav-link">Home</a></li>
            <li><a routerLink="pd" class="nav-link">Products</a></li>
            <li><a routerLink="cart" class="nav-link">Cart</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="login">Buyer</a>
                <a class="dropdown-item" routerLink="slogin">Seller</a>
              </div>
            </li>
            
             <li><a routerLink="addp" class="nav-link">AddProducts</a></li>
            <li><a routerLink="cart/cko" class="nav-link">CheckOut</a></li>
            <li><a routerLink="cart/cko/cart/cko/tk/con" class="nav-link">Contact</a></li>
            <li><input  type="search" placeholder="Search" ></li>
            <li>  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i></button></li>
          </ul>
        </nav>
      </div>


      <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

    </div>
    </div>
    </header>
