<div class="row">
  <div class="card-group">

    <li *ngFor="let product of products">
      <div class="col s20 m10">
        <div class="card">
          <div class="card-image">
            <img src="{{product.photo}}" class="responsive-img">
          </div>
         

          <div class="card-body">
            <h5 class="card-title">{{product.name}} {{product.price}}</h5>
            <p class="card-text">This is a wider card with supporting .</p>
            <a class="btn btn-primary" [routerLink]="['/cart', { id:product.id }]">ADD to CART</a>
          </div>
        </div>
      </div>
    </li>
  </div>
</div>





