<h2>New Items List</h2>
<p *ngIf="errMsg">{{errMsg}}</p>
<table *ngIf="pro">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Category</th>
            <th>SubCategory</th>
            <th>Seller</th>
            <th>ProductName</th>
            <th>Price</th>
            <th>Description</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of pro">
          
            <td>{{e.productId}}</td>
            <td>{{e.category.categoryName}}</td>
            <td>{{e.subCategory.subCategoryName}}</td>
            <td>{{e.seller.sellerName}}</td>
            <td>{{e.productName}}</td>
            <td>{{e.price}}</td>
            <td>{{e.description}}</td>
            <td>{{e.stock}}</td>  
        </tr>
        <tr>
            <td colspan="4"><button type="submit" routerLink="/addp" class="btn btn-secondary">Add new Items</button></td>
        </tr>
    </tbody>
</table><br/><br/>
