header{
    background-color: bisque;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    text-align: center;
}

div>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

div>h3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: coral;
    text-align: center;
}